:root {
    /*PALETA DE COLORES: "Crevasse"*/
    --color1: #F2F2F2;
    --color2: #076DF2;
    --color3: #0554F2;
    --color4: #0D0D0D;
    --color5: #FFFFFF;
}

body {
    background-color: var(--color1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color: var(--color2);
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    position:fixed;
    top: 0px;
}

main section { 
    border: 4px solid var(--color4);
    padding: auto;
    margin: 10px;
    border-radius: 2rem;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 32px;
}

main h1 {
    font-size: 32px;
}

.nombre {
    color: var(--color5);
    font-size: 40px;
}

.me {
margin-top: 160px;
}

h2 {
    color: var(--color3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px 50px 10px 50px;
    font-size: 25px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 20px 50px 10px 0px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 50px 25px 10px;
    font-size: 18px;
}

.me p {  
    padding: 5px 50px 25px 50px;
}

.education p {  
    padding: 5px 50px 25px 50px;
}

.enfPersonal p {  
    padding: 5px 50px 25px 50px;
}

ol{
    list-style-type: upper-roman;
    padding: 5px 50px 5px 70px;
}

ul{
    padding: 5px 50px 5px 70px;
}

li {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 50px 5px 10px;
    font-size: 18px;
}

footer {
    padding: 10px;
    background: rgb(7,109,242);
    background: linear-gradient(90deg, rgba(7,109,242,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--color1);
}
